altgraph==0.17.4
blinker==1.9.0
click==8.2.1
colorama==0.4.6
comtypes==1.4.11
contourpy==1.3.2
cycler==0.12.1
dxcam==0.0.5
Flask==3.1.1
flask-swagger-ui==5.21.0
fonttools==4.58.0
itsdangerous==2.2.0
Jinja2==3.1.6
kiwisolver==1.4.8
MarkupSafe==3.0.2
matplotlib==3.10.3
numpy==2.2.6
opencv-python==4.11.0.86
packaging==25.0
pefile==2023.2.7
pillow==11.2.1
podman-compose @ https://github.com/containers/podman-compose/archive/main.tar.gz#sha256=925e9c505a35ab9f03f894fa53cb2e45470fd274af2f213e9a5824fcfa641e9c
psutil==7.0.0
pyinstaller==6.13.0
pyinstaller-hooks-contrib==2025.4
pyparsing==3.2.3
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pywin32-ctypes==0.2.3
PyYAML==6.0.2
scipy==1.15.3
setuptools==80.7.1
six==1.17.0
Werkzeug==3.1.3
